<!--====================================================
                        PAGE CONTENT
======================================================-->
<section class="hero-area">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="contact-h-cont">
                    <h3 class="text-center"><img src="assets/img/logo-website-black.png" class="img-fluid" alt=""></h3><br>
                    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
                        <div class="form-group">
                            <label for="email">Correo Electronico</label>
                            <input type="email" class="form-control" required ngModel name="email" id="email" placeholder="Ingrese su correo Electronico">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" required ngModel name="password" id="passwordt" placeholder="Contraseña">
                        </div>
                        <button [disabled]="f.invalid" class="btn btn-general btn-blue" role="button">
                            <i fa fa-right-arrow></i>Login</button>
                        <a class="btn btn-general btn-white" style="margin-left: 10px" routerLink="/register" role="button">
                            <i fa fa-right-arrow></i>Registrarse</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>