<!--====================================================
                        PAGE CONTENT
======================================================-->
<section class="hero-area">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="contact-h-cont">
                    <h3 class="text-center"><img src="assets/img/logo-website-black.png" class="img-fluid" alt=""></h3><br>
                    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" required ngModel name="name" id="name" placeholder="Ingrese su Nombre">
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellido</label>
                                    <input type="text" class="form-control" required ngModel name="apellido" id="apellido" placeholder="Ingrese su Apellido">
                                </div>
                                <div class="form-group">
                                    <label for="dpi">DPI</label>
                                    <input type="number" class="form-control" required ngModel name="dpi" id="dpi" placeholder="Ingrese su Codico Unico de Identificación">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fechaNac">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" required ngModel name="fechaNac" id="fechaNac" placeholder="Ingrese su Fecha de Nacimiento">
                                </div>
                                <div class="form-group">
                                    <label for="email">Correo Electronico</label>
                                    <input type="email" class="form-control" required ngModel name="email" id="email" placeholder="Ingrese su correo Electronico">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" required ngModel name="password" id="passwordt" placeholder="Contraseña">
                                </div>
                            </div>
                        </div>
                        <button [disabled]="f.invalid" class="btn btn-general btn-blue" role="button">
                            <i fa fa-right-arrow></i>Registro</button>
                        <a class="btn btn-general btn-white" style="margin-left: 10px" routerLink="/login" role="button">
                            <i fa fa-right-arrow></i>Iniciar Sesión</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>